.viewer-controls {
  z-index: 19;
  margin: 4px 10px;
  opacity: 0;
  pointer-events: none;

  &--active {
    pointer-events: initial;
    opacity: 1;
  }

  &__control {
    background: transparent;
    border: none;
    height: 36px;
    width: 36px;
    font-size: 14px;
    padding: 0;
    margin-left: 4px;
    border-radius: 0;
    transition: background 0.5s;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;

    @media (min-width: 320px) and (max-width: 480px) {
      width: 30px;
    }

    &:focus {
      color: rgba(255, 255, 255, 0.9);
      outline: 2px solid rgba(255, 255, 255, 0.9);
      outline-offset: -3px;
    }
    &:active {
      background: #111;
    }
  }
}
