{% extends '@fesk/plugin-micro-site/lib/layouts/micrositeLayout.twig' %}

{% block head %}
  <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        [data-element] .footer {
            background: transparent;
        }
    </style>
{% endblock %}
{% block title %}
    <a class="primary-logo-link primary-logo-link--text" href="/">
        PMC Viewer
    </a>
{% endblock %}
{% block footerAssets %}
    <script src="{{ assets.runtime.url }}"></script>
{% endblock %}
{% set siteName = 'PMC Viewer' %}
{% set menuMap = {
  'welcome': 'Welcome'
} %}
